@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* .hero-bg {
  background-image: url(../assets/ariking-bg-1.webp);
  background-size: cover;
} */
.hero-bg {
  background-image: url(../assets/arking-bg-2.jpg);
  background-size: cover;
}
/* bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] */

/* 👇Embla */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 5s linear infinite;
}

